body {
  background-color: #d9dbda;

  .card {
    border: 1px white solid;
    position: relative;

    img {
      object-fit: contain;
      height: 154px;

      @media(min-width: 576px) {
        height: 244px;
      }

      @media(min-width: 768px) {
        height: 334px;
      }

      @media(min-width: 992px) {
        height: 293.983px;
      }

      @media(min-width: 1200px) {
        height: 354px;
      }

      @media(min-width: 1400px) {
        height: 304px;
      }
    }

    .card-body {
      background-color: #b2b4b3;
      color: white;

      a {
        text-decoration: none;
        color: white;

        h5 {
          font-family: "Bebas Neue", "Segoe UI", serif;
          font-size: 1.3rem;
          font-weight: bold;
        }
      }

      .product-price {
        font-family: "Roboto", "Segoe UI", serif;
        color: #71716f;
        font-size: 1.3rem;
        font-weight: bold;

        .product-cash {
          color: #2b2b29;
        }
      }

      .product-count {
        display: none;
      }
    }
  }

  .card.rose:hover {
    border: 2px solid #fff;
    box-shadow: 0 0 13px #fff;

    .product-count {
      background-color: #b2b4b3;
      z-index: 100;
      position: absolute;
      display: block;
      padding: 1rem 1rem;
      margin-left: calc(-1rem - 2px);
      margin-right: -2px;
      box-shadow: 0 0 13px #fff;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
    }
  }
}

